@font-face {
	font-family: 'League-Spartan';
	src: url('League-Spartan-Bold.ttf.woff') format('woff'),
		url('League-Spartan-Bold.ttf.svg#League-Spartan-Bold') format('svg'),
		url('League-Spartan-Bold.ttf.eot'),
		url('League-Spartan-Bold.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
}
